<div class="container-fluid default-dashboard">
  <div class="row">
    <div class="col-xl-6 col-sm-12 box-col-5">
      <app-profile-gretting />
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12 box-col-4e">
      <app-current-balance />
    </div>
    <div class="col-xl-3 col-md-6 col-sm-12 box-col-4e">
      <app-weekly-visitors />
    </div>
    <div class="col-xl-4 col-sm-12 col-lg-4 col-md-12 box-col-4">
      <app-common-details [data]="totalUserData" />
    </div>
    <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
      <app-common-details [data]="totalOrderData" />
    </div>
    <div class="col-xl-4 col-sm-12 col-lg-4 col-md-6 box-col-4">
      <app-common-details [data]="totalProductsData" />
    </div>
    <div class="col-12">
      <app-best-selling-product />
    </div>
    <div class="col-xl-7 col-md-12 col-lg-6 box-col-6">
      <app-sales-summary />
    </div>
    <div class="col-xl-5 col-md-12 col-lg-6 box-col-6">
      <app-track-order />
    </div>
  </div>
</div>
