/**=====================
    2.21 Loader CSS Start
==========================**/
.loader {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  background-color: $white;
  z-index: 11;
  top: 0;

  .jumpy-bars {
    display: flex;
    justify-content: space-evenly;
    width: 4.5em;
    height: 3.5em;
    gap: 0.3em;
  }

  #bar1 {
    animation-delay: 0.2s;
  }

  #bar2 {
    animation-delay: 0.4s;
  }

  #bar3 {
    animation-delay: 0.6s;
  }

  #bar4 {
    animation-delay: 0.8s;
  }

  #bar5 {
    animation-delay: 1s;
  }

  #bar6 {
    animation-delay: 1.2s;
  }

  #bar7 {
    animation-delay: 1.5s;
  }

  .bar {
    width: 1em;
    height: auto;
    opacity: 0;
    background-color: $theme-body-font-color;
    border-radius: 100%;
    animation: jumping-bars 1s linear infinite alternate-reverse;
  }

  @keyframes jumping-bars {
    0% {
      opacity: 1;
      transform: scaleY(0);
    }

    50% {
      opacity: 1;
      transform: scaleY(0.5);
    }

    100% {
      opacity: 1;
      transform: scaleY(1.8);
    }
  }
}

/**=====================
    2.21 Loader CSS Ends
==========================**/
