<div class="cart-box">
  <svg>
    <use href="assets/svg/icon-sprite.svg#stroke-ecommerce"></use>
  </svg>
</div>
<div class="cart-dropdown onhover-show-div">
  <h3 class="f-18 mb-0 dropdown-title">Cart</h3>
  <ul>
    <li>
      <div class="d-flex">
        <img class="img-fluid b-r-5 me-3" src="assets/images/dashboard-2/product/1.png" alt="" />
        <div class="flex-grow-1">
          <a [routerLink]="['/ecommerce/product']"> <span>Furniture Chair for Home</span></a>
          <div class="qty-box">
            <div class="input-group">
              <span class="input-group-prepend">
                <button
                  class="btn quantity-left-minus"
                  type="button"
                  data-type="minus"
                  data-field=""
                >
                  -
                </button></span
              >
              <input
                class="form-control input-number f-14 f-w-500"
                type="text"
                name="quantity"
                value="1"
              /><span class="input-group-prepend">
                <button
                  class="btn quantity-right-plus"
                  type="button"
                  data-type="plus"
                  data-field=""
                >
                  +
                </button></span
              >
            </div>
          </div>
          <h5 class="font-primary">$500</h5>
        </div>
        <div class="close-circle">
          <a class="bg-danger" href="javascript:void(0)"><i data-feather="x"></i></a>
        </div>
      </div>
    </li>
    <li>
      <div class="d-flex">
        <img class="img-fluid b-r-5 me-3" src="assets/images/dashboard-2/product/2.png" alt="" />
        <div class="flex-grow-1">
          <a [routerLink]="['/ecommerce/product']"> <span>The best office chairs</span></a>
          <div class="qty-box">
            <div class="input-group">
              <span class="input-group-prepend">
                <button
                  class="btn quantity-left-minus"
                  type="button"
                  data-type="minus"
                  data-field=""
                >
                  -
                </button></span
              >
              <input
                class="form-control input-number f-14 f-w-500"
                type="text"
                name="quantity"
                value="1"
              /><span class="input-group-prepend">
                <button
                  class="btn quantity-right-plus"
                  type="button"
                  data-type="plus"
                  data-field=""
                >
                  +
                </button></span
              >
            </div>
          </div>
          <h5 class="font-primary">$500.00</h5>
        </div>
        <div class="close-circle">
          <a class="bg-danger" href="javascript:void(0)"><i data-feather="x"></i></a>
        </div>
      </div>
    </li>
    <li class="total">
      <h6 class="mb-0">Order Total : <span class="f-right f-w-700">$1000.00</span></h6>
    </li>
    <li>
      <a class="d-block view-cart text-center f-w-700" [routerLink]="['/ecommerce/cart']"
        >Go to your cart</a
      >
    </li>
    <li class="text-center check-button">
      <a class="btn btn-primary view-checkout" [routerLink]="['/ecommerce/checkout']">Checkout </a>
    </li>
  </ul>
</div>
