<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header card-no-border pb-0">
          <h3>Sample Card</h3>
          <span>Prior to publishing content on social media</span>
        </div>
        <div class="card-body">
          <p>
            "While written content continues to reign supreme as the cornerstone of every brand's
            digital marketing strategy, video and image-based content are becoming more and more
            prominent in the world of content marketing. The regular blog, social media posts, and a
            wide range of other written content formats are just a few examples."
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
