<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-simple-tab />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-icon-with-tab />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-vertical-tab />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-pills-tab />
    </div>
    <div class="col-xl-6">
      <app-justify-tab />
    </div>
    <div class="col-xl-6">
      <app-material-left-tab />
    </div>
    <div class="col-xl-6">
      <app-material-style-tab />
    </div>
    <div class="col-xl-6">
      <app-bordered-tab />
    </div>
  </div>
</div>
