/**=====================
  5.3 Header CSS Start
==========================**/
.left-header {
  .d-flex {
    align-items: center;
  }

  h6 {
    line-height: 1.6;

    @media (max-width: 1199px) {
      width: 160px;
      overflow: hidden;
      -webkit-line-clamp: 1;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    @media (max-width: 991px) {
      width: 120px;
    }

    @media (max-width: 767px) {
      width: 66px;
    }
  }

  @media (max-width: 755px) {
    display: none;
  }

  img {
    margin-top: -12px;
    height: 26px;
  }

  i {
    font-weight: 600;
    font-size: 12px;
    margin-bottom: -4px;
  }
}

/*======= Page Header css ends  ======= */
/**======Main Header css Start ======**/
.offcanvas,
.offcanvas-bookmark {
  .page-wrapper {
    .page-body-wrapper {
      .page-body {
        position: relative;
        filter: blur(5px) grayscale(100%);
      }
    }
  }
}

.offcanvas {
  position: unset;
  visibility: visible;
  background: unset;
  z-index: 2;
}

.toggle-sidebar {
  position: absolute;
  right: 30px;
  top: 30px;
  cursor: pointer;

  svg {
    width: $header-wrapper-nav-icon-size;
    height: $header-wrapper-nav-icon-size;
    vertical-align: -10px;
  }

  &:before {
    content: '';
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: rgba($primary-color, 0.1);
    border-radius: 100%;
    left: -9px;
    z-index: -2;
    top: -8px;
    transform: scale(0);
    transition: all 0.3s ease;
  }

  &:hover {
    &:before {
      height: 40px;
      width: 40px;
      transform: scale(1);
      transition: all 0.3s ease;
    }

    > svg {
      color: $white !important;
      stroke: $white !important;
    }
  }
}

.onhover-dropdown {
  cursor: pointer;
  position: relative;

  &:hover {
    .onhover-show-div {
      @extend %for-animated-hover-box;
    }
  }
}

.onhover-show-div {
  top: 80px;
  position: absolute;
  z-index: 8;
  background-color: $white;
  transition: all linear 0.5s;
  border: 1px solid $header-dark;
  @extend %for-animated-hover;

  li {
    a {
      svg {
        margin-top: 0 !important;

        path,
        line {
          color: $theme-body-font-color !important;
        }
      }
    }
  }
}

/**======Main Header css Ends ======**/
/*=======Mega menu css start=======*/
.mega-menu {
  .default-according {
    .card {
      .btn-link {
        font-weight: 500;
        color: gray;
      }

      .card-body {
        font-size: 12px;
      }
    }
  }

  .onhover-show-div {
    width: 1500px;
  }

  .card-body {
    padding: 20px;
  }

  div {
    > div {
      a {
        margin-bottom: 0px;
        display: inline-block;
        color: $theme-body-sub-title-color;
      }
    }
  }

  .list-unstyled {
    div {
      a {
        padding: 8px 35px 8px 0;
        transition: $sidebar-transition;

        &:hover {
          padding: 8px 35px 8px 10px;
          transition: $sidebar-transition;
        }
      }
    }
  }
}

.page-wrapper {
  .page-header {
    .header-wrapper {
      .nav-right {
        > ul {
          > li {
            &:not(:nth-last-of-type(-n + 2)) {
              background-color: rgba($white, 0.1);
              padding: 10px 12px;
              border-radius: 5px;
              justify-content: center;
              align-items: center;
              display: flex;
              font-size: 14px;
              margin-right: 15px;
            }

            &.search-box {
              display: none;
            }
          }
        }
      }
    }

    &.close_icon {
      padding-right: calc(0rem + 0 * (100vw - 20rem) / 100);
    }
  }
}

.page-wrapper {
  .page-header {
    .header-wrapper {
      .search-full {
        max-width: 480px;
        overflow: hidden;
        color: $light-color;
        padding: 0;
        border-radius: 4px;

        .form-group {
          background-color: #31322d;
          border-radius: 5px;

          input {
            color: $light-color;
            font-weight: 500;
            line-height: 1.4;
            letter-spacing: 0.4px;
            padding: 11px 0px 11px 25px;
            width: 480px !important;
            background-color: rgba($white, 0.1);

            &:focus-visible {
              outline: none;
            }

            &::placeholder {
              color: $light-color;
            }
          }

          svg {
            stroke: $light-color;
            width: 25px;
            height: 25px;
            right: 25px;
            top: 20%;
            position: absolute;

            [dir='rtl'] & {
              left: 25px;
              right: unset;
            }
          }
        }
      }
    }
  }
}

.page-wrapper {
  &.compact-small {
    .page-header {
      .header-wrapper {
        .header-logo-wrapper {
          display: flex;
          align-items: center;
        }

        .logo-wrapper {
          display: block !important;
          margin-right: 15px;

          [dir='rtl'] & {
            margin-left: 20px;
            margin-right: unset;
          }
        }
      }
    }
  }
}

// PAGE-SUB-HEADER CSS
.page-sub-header {
  &[data-layout='stroke-svg'] {
    .stroke-icon {
      display: inline-block;
    }

    .fill-icon {
      display: none;
    }
  }

  &[data-layout='fill-svg'] {
    .stroke-icon {
      display: none;
    }

    .fill-icon {
      display: inline-block;
    }
  }

  background-color: $sub-header;
  margin-top: 86px;

  .body-header {
    padding: 0px calc(11rem + 0.4 * (100vw - 20rem) / 100);

    .sidebar-body-menu {
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 3;

      > li {
        position: relative;
        display: flex;
        cursor: pointer;
        padding: 38px 0px;
        transition: all 0.3s ease-in-out;
        z-index: 2;

        h3 {
          font-family: $font-secular;
          font-weight: 400;
          color: $textheader-dark;

          [class='dark-only'] & {
            color: $white;
          }
        }

        &:first-child {
          .sidebar-body-mainmenu {
            left: 0;
          }

          div {
            padding-left: 0px;
          }
        }

        &:last-child {
          div {
            padding-right: 0;
            border-right: 0px;
          }
        }

        &:hover {
          &:last-child {
            ul.sidebar-body-submenu {
              right: calc(100% + 2px);
              left: unset;
            }
          }

          h3 {
            color: $primary-color;
          }

          .sidebar-body-mainmenu {
            visibility: visible;
            opacity: 1;
            top: 100%;
            transition: all 0.4s ease-in-out;
          }
        }

        div {
          padding: 0px 45px;
          border-right: 2px solid rgba($black, 0.1);

          [class='dark-only'] & {
            border-right: 2px solid rgba($white, 0.1);
          }

          span {
            font-size: 16px;
            color: $sub-text;
            font-weight: 600;
          }
        }

        .sidebar-body-mainmenu {
          position: absolute;
          top: 110%;
          left: 35px;
          width: 230px;
          padding: 10px 0;
          background-color: $white;
          border-radius: 6px;
          border: 0.5px solid $header-dark;
          box-shadow: 1px 1px 0px $black;
          transition: all 0.4s ease-in-out;
          visibility: hidden;
          opacity: 0;

          [class='dark-only'] & {
            background-color: $dark-card-background !important;
          }

          > li {
            padding: 10px 15px;
            transition: all 0.3s ease-in-out;
            display: flex;
            align-items: center;
            position: relative;

            > a {
              position: relative;
              font-size: 15px;
              color: $font-color;
              text-transform: capitalize;

              svg {
                vertical-align: sub;

                &.fill-icon {
                  use {
                    fill: $theme-font-color;
                    stroke: $theme-font-color;
                  }
                }
              }
            }

            &:hover {
              > a {
                color: $primary-color;

                svg {
                  stroke: $primary-color;
                }

                .sub-body-arrow {
                  color: $primary-color;
                  transform: rotate(90deg);
                }

                &:after {
                  width: 30px;
                }

                &:before {
                  background-color: $primary-color;
                }
              }

              .sidebar-body-submenu {
                visibility: visible;
                opacity: 1;
                top: 0;
                transition: all 0.4s ease-in-out;
              }
            }

            ul.sidebar-body-submenu {
              position: absolute;
              top: 10%;
              left: calc(100% + 2px);
              width: 210px;
              max-height: 300px;
              overflow: auto;
              padding: 10px 0;
              background-color: $white;
              text-transform: capitalize;
              border-radius: 6px;
              border: 0.5px solid $header-dark;
              box-shadow: 1px 1px 0px $black;
              transition: all 0.4s ease-in-out;
              visibility: hidden;
              opacity: 0;

              [class='dark-only'] & {
                background-color: $dark-card-background;
              }

              > li {
                padding: 10px 15px 10px 30px;
                transition: all 0.3s ease-in-out;
                display: flex;
                align-items: center;
                position: relative;

                > a {
                  position: relative;
                  font-size: 15px;
                  color: $font-color;

                  &:after {
                    content: '';
                    position: absolute;
                    top: calc(100% + 3px);
                    left: 0px;
                    width: 0px;
                    height: 1px;
                    background-color: $primary-color;
                    transition: all 0.5s ease-in-out;
                  }

                  &:before {
                    content: '';
                    position: absolute;
                    top: 45%;
                    left: -14px;
                    width: 5px;
                    height: 2px;
                    background-color: $card-subheading-color;
                  }
                }

                &:hover {
                  > a {
                    color: $primary-color;
                    transform: translateX(10px);
                    transition: all 0.5s ease-in-out;

                    &:after {
                      width: 30px;
                    }

                    &:before {
                      background-color: $primary-color;
                    }

                    svg {
                      stroke: $primary-color;
                    }
                  }
                }
              }
            }
          }
        }

        a {
          color: $header-dark;
          font-size: 14px;
          font-weight: 700;

          svg {
            width: 22px;
            height: 22px;
            stroke: $header-dark;
            margin-right: 10px;
            transition: 0.3s;

            [class='dark-only'] & {
              stroke: $white;
            }
          }
        }

        .sub-body-arrow {
          position: absolute;
          right: 15px;
          top: 12px;
          color: $light-semi-font;
          font-weight: 100;
          transition: all 0.5s ease;
          font-size: 15px;
        }
      }
    }
  }
}

/*=======Mega menu css end=======*/
/**=====================
    5.3 Header CSS Ends
==========================**/
