<div class="container-fluid ecommerce-dashboard">
  <div class="row widget-grid">
    <div class="col-xl-3 col-md-5 col-sm-12 box-col-3 pre-order">
      <app-earning />
    </div>
    <div class="col-xl-6 col-sm-12 notification box-col-6">
      <app-transaction-history />
    </div>
    <div class="col-xl-3 col-md-7 col-sm-12 box-col-3 pre-order">
      <app-audit-log />
    </div>
    <div class="col-xxl-6 col-xl-7 col-sm-12 box-col-8">
      <app-user-information />
    </div>
    <div class="col-xxl-6 col-xl-5 col-md-6 col-sm-12 notification box-col-4e">
      <app-ecommerce-sales-summary />
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 box-col-4e">
      <app-traffic />
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 box-col-5">
      <app-news-updates />
    </div>
    <div class="col-xl-4 col-sm-12 col-md-6 box-col-4e">
      <app-over-all-rating />
    </div>
    <div class="col-xl-8 col-lg-7 box-col-8">
      <app-manage-order />
    </div>
    <div class="col-xl-4 col-sm-12 col-lg-5 box-col-4e">
      <app-schedule-lession />
    </div>
  </div>
</div>
