<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <app-custom-switch />
    </div>
    <div class="col-xl-4 col-sm-6">
      @for (data of IconSwitchButton; track data) {
        <app-common-switch-button [data]="data" />
      }
    </div>
    <div class="col-xl-4 col-sm-6">
      @for (data of uncheckedSwitchButton; track data) {
        <app-common-switch-button [data]="data" />
      }
    </div>
    <div class="col-xl-4">
      @for (data of borderedIconButton; track data) {
        <app-common-switch-button [data]="data" />
      }
    </div>
    <div class="col-md-6">
      <app-disable-outline />
    </div>
    <div class="col-md-6">
      <app-variation-of-switches />
    </div>
    <div class="col-md-12">
      <app-switch-sizing />
    </div>
    <div class="col-md-12">
      <app-switch-with-icon />
    </div>
  </div>
</div>
