<div class="container-fluid">
  <div class="email-wrap bookmark-wrap">
    <div class="row">
      <div class="col-xl-3 box-col-4e">
        <app-sidemenu />
      </div>
      <div class="col-xl-9 col-md-12 box-col-8">
        <div class="email-right-aside bookmark-tabcontent contacts-tabs">
          <div class="card email-body radius-left">
            <div class="ps-0">
              <div class="tab-content">
                <app-all-contact />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
