<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-simple-progressbar />
      <div class="row">
        <div class="col-xl-6">
          @for (data of stripedData; track data) {
            <app-common-progress-bar [data]="data" />
          }
        </div>
        <div class="col-xl-6">
          @for (data of stripedAnimatedData; track data) {
            <app-common-progress-bar [data]="data" />
          }
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6">
          <app-multipal-progress-bar />
        </div>
        <div class="col-xl-6">
          <app-progress-number-stap />
        </div>
      </div>
      <app-custom-progress-bar />
      <div class="row">
        <div class="col-xl-6">
          <app-small-progress-bar />
        </div>
        <div class="col-xl-6">
          <app-large-progress-bar />
        </div>
      </div>
      <app-custom-height-progressbar />
    </div>
  </div>
</div>
