<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-xl-6">
      <app-heading />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-colored-heading />
    </div>
    <div class="col-12">
      <app-font-weight />
    </div>
    <div class="col-sm-12 listing">
      <app-listing-typography />
    </div>
    <div class="col-12">
      <app-display-heading />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-inline-text-element />
    </div>
    <div class="col-sm-12 col-xl-6">
      <app-text-color />
    </div>
    <div class="col-sm-12">
      <app-blockquotes />
    </div>
  </div>
</div>
