<div class="container-fluid">
  <div class="email-wrap">
    <div class="row">
      <div class="col-xl-3 box-col-4e">
        <app-email-filter />
      </div>
      <div class="col-xl-9 box-col-8">
        <div class="email-right-aside">
          <div class="card email-body">
            <div class="row">
              <div class="col-xl-4 col-md-12 box-md-3 pr-0">
                <app-email-user />
              </div>
              <div class="col-xl-8 col-md-12 box-md-8 pl-0">
                <app-read-email />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
