/**=====================
    3.3 Cart CSS start
==========================**/
.cart {
  .total-amount {
    text-align: right !important;
    margin-top: 30px;
  }

  .amount-space {
    margin-left: 40px;
  }

  .cart-btn-transform {
    text-transform: capitalize;
  }

  .qty-box {
    width: 25%;
    margin: 0 auto;

    .input-group {
      .btn {
        background-color: #ddd !important;
        border-color: #ddd !important;
        padding: 8px 12px;
      }
    }
  }
}

.wishlist {
  .qty-box {
    width: 116px;
    margin: 0 auto;

    .input-group {
      background-color: transparent;
    }
  }

  table {
    thead {
      tr {
        th {
          text-align: center;
        }
      }
    }

    tbody {
      tr {
        td {
          text-align: center;

          &:first-child {
            img {
              border-radius: 6px;
            }
          }

          .product-name {
            a {
              color: $dark-body-background !important;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}

.cart-buttons {
  margin-top: 30px;

  .cart-btn {
    float: right;
    padding-right: 85px;
  }
}

/**=====================
    3.3 Cart CSS Ends
==========================**/
