/**=====================
    3.9 Dashboard_2 CSS Start
==========================**/

.ecommerce-dashboard {
  .pre-order {
    @media (max-width: 1199px) and (min-width: 768px) {
      order: -1;
    }
  }

  div.dataTables_wrapper {
    position: unset;

    div.dataTables_filter {
      position: absolute;
      top: 15px;
      right: 108px;

      @media (max-width: 575px) {
        top: 55px;
        right: 18px;
      }

      [dir='rtl'] & {
        left: 108px;
        right: unset;
      }

      input[type='search'] {
        width: 150px !important;
        height: 34px;
        border-radius: 6px;
      }
    }

    table.dataTable {
      margin-top: 13px !important;
      border: none;

      @media (max-width: 575px) {
        margin-top: 42px !important;
      }

      &.display {
        tbody {
          tr.odd,
          tr.even {
            background-color: transparent !important;

            > .sorting_1 {
              background-color: transparent !important;
            }
          }
        }
      }

      thead {
        > tr {
          > th {
            text-transform: capitalize;
            font-family: $font-nunito;
            font-weight: 600;

            &:before,
            &:after {
              display: none;
            }

            [dir='rtl'] & {
              padding-right: 0px !important;
            }
          }
        }
      }

      tbody {
        > tr {
          > td {
            font-family: $font-nunito;
            font-weight: 600;
          }
        }
      }
    }
  }

  .earning {
    margin-top: 20px;

    @media (max-width: 1200px) {
      margin-top: 0px;
    }

    p {
      color: $card-subheading-color;
      font-size: 16px;
      font-weight: 600;

      strong {
        color: $dark-body-background;
        font-size: 24px;
        font-family: $font-secular;
        margin-right: 8px;
        font-weight: 400;

        [class='dark-only'] & {
          color: rgba($white, 0.8);
        }
      }
    }

    > span {
      color: $card-subheading-color;
      font-family: $font-nunito;
      font-size: 16px;
      font-weight: 600;
    }
  }
  .transaction-search {
    display: flex;
    position: absolute;
    top: 20px;
    right: 50px;
    @media (max-width: 630px) {
      top: 60px;
      right: -37px;
    }
    label {
      font-family: $font-nunito;
    }
    .search-input {
      width: 60%;
    }
  }
  #earning {
    .apexcharts-theme-light {
      svg {
        height: 250px;
      }
    }
  }

  .message-box {
    @media (max-width: 420px) {
      overflow: auto;
    }

    li {
      padding: 15px 0px;

      @media (max-width: 1600px) {
        padding: 11px 0px;
      }

      @media (max-width: 1500px) {
        padding: 7px 0px;
      }

      @media (max-width: 1400px) {
        padding: 9px 0px;
      }

      @media (max-width: 1199px) {
        padding: 12px 0px;
      }

      &:last-child {
        &:after {
          display: none;
          padding-bottom: 0px;
        }
      }

      margin-top: 0;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        top: 52px;
        left: 14px;
        height: 26px;
        width: 2px;
        background-color: rgba($dark-gray, 0.3);
        border-radius: 2px;

        @media (max-width: 1200px) {
          top: 42px;
        }

        @media (max-width: 1199px) {
          top: 47px;
        }

        [dir='rtl'] & {
          right: 14px;
          left: unset;
        }
      }

      .d-flex {
        align-items: flex-start;

        .flex-shrink-0 {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          display: flex;
          align-items: center;
          justify-content: center;

          i {
            font-size: 20px;
            height: 20px;
          }
        }

        .flex-grow-1 {
          margin-left: 15px;

          [dir='rtl'] & {
            margin-right: 15px;
            margin-left: unset;
          }

          h5 {
            color: $header-dark;
            font-weight: 400;
            font-family: $font-secular;

            @media (max-width: 420px) {
              min-width: 213px;
            }

            [class='dark-only'] & {
              color: rgba($white, 0.8);
            }
          }

          p {
            color: $deshbord-text;
            font-size: 12px;
            font-weight: 600;
          }
        }

        span {
          padding: 4px 8px;
          min-width: 70px;
          background-color: $sub-header;
          color: $black;

          [class='dark-only'] & {
            background-color: $dark-body-background;
            color: rgba($white, 0.7);
          }
        }
      }
    }
  }

  .news-box {
    li {
      &:first-child {
        padding-top: 0px;
      }

      &:last-child {
        padding-bottom: 0px;
        border-bottom: none;
      }

      padding: 19px 0px;
      border-bottom: $card-border-color;

      @media (max-width: 1660px) {
        padding: 20px 0px;
      }

      @media (max-width: 1470px) {
        padding: 10px 0px;
      }

      .d-flex {
        gap: 10px;

        .flex-shrink-0 {
          border-radius: 10px;

          img {
            border-radius: 10px;
            margin-left: 0px;

            @media (max-width: 480px) {
              width: 65px;
            }

            @media (max-width: 991px) {
              width: 80px;
            }
          }
        }

        .flex-grow-1 {
          h5 {
            font-family: $font-secular;
            font-weight: 400;
            color: $dark-body-background;

            @media (max-width: 991px) {
              h5 {
                font-size: 14px;
              }
            }
          }

          p {
            font-size: 13px;
            color: $card-subheading-color;
            font-weight: 600;
          }
        }

        span {
          padding: 4px 8px;
          width: 92px;
          background-color: $sub-header;
          color: $black;

          @media (max-width: 480px) {
            display: none;
          }

          @media (max-width: 767px) {
            display: block;
          }

          @media (max-width: 991px) {
            display: none;
          }
        }
      }
    }
  }

  .traffic-list {
    column-count: 2;
    margin: 0px 56px;
    gap: 10px;

    @media (max-width: 360px) {
      column-count: 1;
    }

    @media (max-width: 1199px) {
      margin: 0px 26px;
    }

    @media (max-width: 1199px) {
      margin: 0px 0px;
    }

    @media (max-width: 360px) {
      column-gap: 25px;
    }

    h5 {
      font-size: 20px;
      font-weight: 400;
      font-family: $font-secular;
      color: #1f2f3e;

      [clas='dark-only'] & {
        color: rgba($white, 0.8);
      }
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px dashed $table-border-color;
      gap: 10px;
      width: 100%;
      padding: 10px;

      @media (max-width: 1540px) {
        gap: 5px;
      }

      i {
        font-size: 12px;
        font-weight: 700;
      }

      h5 {
        @media (max-width: 360px) {
          font-size: 16px;
        }
      }

      span {
        @media (max-width: 480px) {
          display: none;
        }

        span {
          color: $theme-body-sub-title-color;
          font-size: 14px;
          font-weight: 600;

          [class='dark-only'] & {
            color: rgba($white, 0.5);
          }

          strong {
            color: #072448;
            font-weight: 700;

            [cladd='dark-only'] & {
              color: rgba($white, 0.8);
            }
          }
        }

        @media (max-width: 360px) {
          font-size: 13px;
        }
      }

      &:hover {
        .user-box {
          svg {
            animation: tada 1.5s ease infinite;
          }
        }
      }
    }

    .user-box {
      height: 20px;
      width: 20px;
      background-color: rgba($primary-color, 0.2);
      border-radius: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 8px;

      [class='dark-only'] & {
        margin-left: 8px;
        margin-right: unset;
      }

      i {
        color: #072448;

        [class='dark-only'] & {
          color: rgba($white, 0.8);
        }

        &:before {
          vertical-align: -5px;
        }
      }

      &.down-icon {
        background-color: rgba($secondary-color, 0.2);

        i {
          color: $secondary-color;

          [class='dark-only'] & {
            color: rgba($secondary-color, 0.8);
          }

          &:before {
            vertical-align: 5px;
          }
        }
      }
    }

    &.primary {
      border: 1px solid $primary-color;

      .user-box {
        background: lighten($primary-color, 25%);
      }
    }

    &.success {
      border: 1px solid $success-color;

      .user-box {
        background: lighten($success-color, 40%);
      }
    }
  }

  .over-rating {
    > p {
      color: $card-subheading-color;
      padding-bottom: 23px;
      border-bottom: 1px solid $table-border-color;
    }

    .over-all {
      h3 {
        font-size: 30px;
        font-weight: 400;
        font-family: $font-secular;
        color: $dark-body-background;
        padding-bottom: 4px;
      }

      span {
        padding-bottom: 11px;

        i {
          font-size: 24px;
        }
      }

      p {
        font-size: 14px;
        color: $card-subheading-color;
        font-weight: 600;
      }
    }

    .rating-box {
      padding-left: 16px;
      margin-left: 10px;
      border-left: 1px dashed $table-border-color;

      .d-flex {
        align-items: center;
        padding: 20px 0px;
        border-bottom: 1px dashed $table-border-color;

        @media (max-width: 1470px) {
          padding: 12px 0px;
        }

        &:last-child {
          padding-bottom: 0px;
          border-bottom: none;
        }

        &:first-child {
          padding-top: 0px;
        }

        .flex-grow-1 {
          span {
            padding-top: 0px;
          }
        }
      }
    }
  }

  .userinformation {
    table {
      thead {
        tr {
          th {
            .form-check {
              input {
                height: 15px;

                &:focus {
                  box-shadow: none;
                }
              }
            }
          }
        }
      }

      tbody {
        tr {
          .form-check {
            margin-top: 15px;
            padding-left: 25px;

            input {
              height: 15px;

              &:focus {
                box-shadow: none;
              }
            }
          }

          td {
            &:nth-child(2) {
              padding-left: 0px;
            }

            &:last-child {
              text-align: center;
            }

            .dropdown-menu {
              .dropdown-item {
                &:first-child {
                  border-top: none;
                }
              }

              position: absolute;
              inset: auto 0px 0px auto;
              margin: 0px;
              transform: translate(-18px, -23px);

              [dir='rtl'] & {
                transform: translate(150px, -23px);
              }
            }
          }
        }
      }
    }
  }

  .transaction-card,
  .manageorder {
    padding-bottom: 15px;

    @media (max-width: 1300px) {
      padding-bottom: 0px;
    }
  }
  .transaction-card,
  .manageorder,
  .userinformation {
    @media (max-width: 630px) {
      margin-top: 20px;
    }
  }

  .transaction-card,
  .manageorder,
  .userinformation {
    table {
      thead {
        tr {
          th {
            @media (max-width: 1199.98px) {
              min-width: 98px;
            }

            padding-bottom: 8px;
            border-bottom: 1px solid $table-border-color;
            color: $sub-text;
            font-weight: 400;
            font-family: $font-secular;

            &:first-child,
            &:last-child {
              padding-left: 0px;
              padding-right: 0px;
            }

            &:first-child {
              min-width: 0px;
            }
          }
        }
      }

      tbody {
        tr {
          &:hover {
            td {
              .d-flex {
                .flex-grow-1.ms-2 {
                  h5 {
                    color: $primary-color;
                    transition: all 0.4s ease-in;
                  }
                }
              }

              h5 {
                color: $primary-color;
                transition: all 0.4s ease-in;
              }

              .hover-box {
                background-color: rgba(51, 191, 191, 0.1);
                color: rgba($primary-color, 0.9);
              }
            }
          }

          td {
            &:last-child,
            &:first-child {
              padding-left: 0px;
              padding-right: 0px;
            }

            border-bottom: 1px solid $table-border-color;

            .d-flex {
              img {
                margin-left: 0px;
              }

              .flex-shrink-0 {
                height: 45px;
                width: 45px;
                background-color: #f1f8f1;
                border-radius: 50px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                  margin-left: 0px;
                  border-radius: 0px;
                }
              }

              @media (max-width: 1199.98px) {
                min-width: 200px !important;
              }

              .flex-grow-1.ms-2 {
                a {
                  h5 {
                    font-family: $font-secular;
                    font-weight: 400;
                    color: $header-dark;
                    transition: all 0.4s ease-in;
                  }
                }

                span {
                  font-size: 13px;
                  font-weight: 600;
                  color: $sub-text;
                }
              }
            }

            h5 {
              font-family: $font-nunito;
              transition: all 0.4s ease-in;
              font-weight: 700;
              color: $header-dark;

              @media (max-width: 1199.98px) {
                min-width: 120px !important;
              }
            }

            p {
              font-family: $font-nunito;
              transition: all 0.4s ease-in;
              font-weight: 700;
              color: $header-dark;

              &.hover-box {
                transition: all 0.4s ease-in;
                text-align: center;
                border-radius: 4px;
                padding: 4px 8px;
              }
            }

            span {
              font-size: 13px;
              font-weight: 500;
              color: $sub-text;
            }

            .order {
              padding: 4px 8px;
              font-weight: 400;
              background-color: $sub-header;
              color: $header-dark;
              text-align: center;
            }
          }

          &:last-child {
            td {
              border-bottom: none;
              padding-bottom: 0px;
            }
          }
        }
      }
    }
  }

  .traffic-chart {
    margin-left: -12px;
    margin-right: -10px;
  }

  .schedule-lesson {
    .cal-datepicker[_ngcontent-ng-c2103518364] ngb-datepicker[_ngcontent-ng-c2103518364] {
      background-color: transparent !important;
    }
  }
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;

  a {
    i {
      font-size: 14px;
      margin-bottom: -2px;
    }

    &.btn {
      padding: 8px 12px;

      @media (max-width: 575px) {
        padding: 5px;
      }

      &.badge-light-primary {
        &:hover {
          background-color: var(--theme-default);
        }
      }
    }
  }
}

.growth-wrapper {
  > div {
    margin-top: -54px;
    margin-bottom: -25px;

    @media (max-width: 1481px) {
      margin-top: -50px;
    }
  }
}

.widget-grid {
  .height-equal {
    @media (min-width: 1400px) {
      min-height: unset !important;
    }
  }

  > .col-xxl-auto {
    @media (min-width: 1400px) {
      width: 22.22%;
    }
  }
}

@media (max-width: 1550px) and (min-width: 1200px) {
  .ecommerce-dashboard {
    .dataTables_wrapper {
      .dataTable {
        &.table {
          thead {
            th {
              &.sorting {
                padding-right: 5px;
              }
            }

            tr {
              th {
                &:last-child {
                  display: none;
                }
              }
            }
          }

          tbody {
            tr {
              td {
                padding: 12px 5px;

                &:last-child {
                  display: none;
                }
              }
            }
          }
        }
      }
    }

    .traffic-list {
      margin: 0px 20px;

      h5 {
        font-size: 14px;
      }

      li {
        border: none;
        padding: 0;

        span {
          span {
            strong {
              font-size: 13px;
            }
          }
        }
      }
    }

    .news-box {
      li {
        .d-flex {
          span {
            width: 92px;
          }

          .flex-grow-1 {
            h5 {
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box !important;
              -webkit-line-clamp: 2;
              -webkit-box-orient: vertical;
              white-space: normal;
            }

            p {
              text-overflow: ellipsis;
              overflow: hidden;
              display: -webkit-box !important;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              white-space: normal;
            }
          }
        }
      }
    }

    .over-rating {
      > p {
        padding-bottom: 10px;
        margin-bottom: 5px;
      }

      .over-all {
        h3 {
          font-size: 22px;
        }

        span {
          i {
            font-size: 20px;
          }
        }
      }

      .rating-box {
        .d-flex {
          h3 {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) and (min-width: 1200px) {
  .ecommerce-dashboard {
    .message-box {
      li {
        .d-flex {
          .flex-grow-1 {
            margin-left: 8px;
            top: 36px;
          }
        }
      }
    }
  }
}

@media (max-width: 1366px) and (min-width: 1200px) {
  .ecommerce-dashboard {
    .message-box {
      li {
        &::after {
          left: 11px;
        }

        .d-flex {
          .flex-grow-1 {
            margin-left: 8px;

            h5 {
              font-size: 13px;
            }
          }

          span {
            padding: 4px 5px;
            width: 98px;
          }

          .flex-shrink-0 {
            width: 25px;
            height: 25px;

            i {
              font-size: 15px;
              height: 15px;
            }
          }
        }
      }
    }
  }
}

/**=====================
    3.9 Dashboard_2 CSS End
==========================**/
