/**=====================
  3.14 Ecommerce CSS Start
==========================**/
/**====== Product Start ======**/
.toggle-data {
  cursor: pointer;
}

.filter-block {
  ul {
    li {
      padding-top: 15px;
      opacity: 0.5;

      @media (max-width: 1500px) {
        padding-top: 10px;
      }
    }
  }
}

.product-box {
  .product-details {
    .product-qnty {
      .input-group {
        width: 42%;
      }
    }
  }
}

.collection-filter-block {
  svg {
    width: 50px;
    height: 25px;
    stroke: var(--theme-default);
    margin-right: 10px;
  }

  h5 {
    margin-bottom: 0;
    font-size: 16px;
  }

  p {
    font-size: 13px;
  }

  .flex-grow-1 {
    opacity: 0.5;
  }

  li {
    & + li {
      margin-top: 16px;
    }
  }

  ul.pro-services {
    li {
      svg {
        width: auto;
      }
    }
  }
}

.qty-box {
  .btn {
    background-color: transparent !important;
    border-color: $light-semi-gray !important;
    padding: 8px 12px;

    i {
      color: $dark-gray;
    }

    svg {
      width: 14px !important;
      stroke: $dark-color;
    }
  }

  span {
    padding: 0 4px;
  }

  .input-group {
    background-color: rgba($dark-color, 0.1);
  }

  input {
    background-color: rgba($dark-color, 0.1);
    color: $dark-color;
    max-width: 44px;
    padding: 0;
    text-align: center;
    border: none;
    max-height: 37px;
  }
}

.product-social {
  li {
    a {
      color: $dark-gray;
      font-size: 15px;
      border: 1px solid $gray-60;
      border-radius: 100%;
      height: 35px;
      width: 35px;
      display: inline-block;
      text-align: center;
      line-height: 2.3;
      transition: all 0.3s ease;

      &:hover {
        border-color: $primary-color;
        color: $primary-color;
        background-color: rgba($primary-color, 0.1);
        transition: all 0.3s ease;
      }
    }

    &:nth-child(n + 2) {
      margin-left: 10px;

      [dir='rtl'] & {
        margin-left: unset;
        margin-right: 10px;
      }
    }
  }
}

.product-sidebar {
  .filter-section {
    .card {
      .card-header {
        padding: 16px 30px;
        border-radius: 10px;

        h6 {
          position: relative;

          .pull-right {
            i {
              position: absolute;
              top: 4px;
              left: 0;
              font-size: 10px;
              width: 100%;
              height: 10px;
              text-align: right;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}

.product-wrapper {
  .product-sidebar {
    .filter-section {
      .card {
        .left-filter {
          z-index: 0;
          opacity: 0;
          visibility: hidden;
          height: 0;
          transition: 0.3s;
          min-width: 320px;

          .product-filter {
            .owl-carousel {
              .owl-nav {
                display: none;
              }
            }

            .irs-with-grid {
              margin-bottom: 15px;
            }

            .ngx-slider {
              .ngx-slider-tick {
                &.ngx-slider-selected {
                  background-color: rgba($dark-body-background, 0.4);
                }
              }

              .ngx-slider-pointer {
                background-color: $dark-body-background !important;

                &.ngx-slider-active {
                  &:after {
                    background-color: rgba($white, 0.4);
                  }
                }
              }

              .ngx-slider-selection {
                background: $dark-body-background !important;
              }
            }
          }
        }
      }
    }
  }

  .product-grid {
    .product-wrapper-grid {
      margin-left: 0;
      transition: 0.3s;
    }
  }

  &.sidebaron {
    .product-sidebar {
      .filter-section {
        .card {
          .left-filter {
            z-index: 3;
            opacity: 1;
            visibility: visible;
            position: absolute;
            width: 100%;
            background-color: white;
            top: 57px;
            height: auto;
            border-radius: $card-border-radious;
            border: 1px solid rgba($dark-body-background, 0.8);
            box-shadow: $card-box-shadow;
          }
        }
      }
    }
  }
}

.dataTables_wrapper {
  button {
    margin: 2px;
  }
}

.order-history {
  .pagination {
    &.pagin-border-primary {
      border: 1px solid rgba($dark-body-background, 0.08) !important;
    }

    .page-item {
      &.disabled {
        .page-link {
          color: $dark-body-background !important;
        }
      }

      .page-link {
        color: $dark-body-background !important;
      }
    }
  }
}

.product-table {
  .pagination {
    &.pagin-border-primary {
      border: 1px solid rgba($dark-body-background, 0.08) !important;
    }

    .page-item {
      &.disabled {
        .page-link {
          color: $dark-body-background !important;
        }
      }

      .page-link {
        color: $dark-body-background !important;
      }
    }
  }

  .dataTables_wrapper {
    table {
      tbody {
        tr {
          td {
            &:nth-child(2) {
              @media (max-width: 966px) {
                min-width: 268px;
              }
            }
          }
        }
      }
    }
  }
}

.product-page-main {
  #carousel-container[_ngcontent-ng-c1888937601] > {
    .current-figure[_ngcontent-ng-c1888937601] {
      > #current-image[_ngcontent-ng-c1888937601] {
        margin-bottom: 20px;
        border-radius: 8px;
      }

      > #dots[_ngcontent-ng-c1888937601] {
        display: none;
      }
    }
  }

  .previews-container[_ngcontent-ng-c3898100982] > {
    .preview-inner-container[_ngcontent-ng-c3898100982] {
      > .preview-image[_ngcontent-ng-c3898100982] {
        margin: 0 8px;
        border-radius: 8px;
      }
    }
  }

  .preview-inner-container img {
    width: 23% !important;
  }

  .previews-container {
    .preview-inner-container {
      .preview-image {
        &:active {
          border: 1px solid $primary-color;
        }
      }
    }
  }

  .left-arrow-image[_ngcontent-ng-c1888937601],
  .right-arrow-image[_ngcontent-ng-c1888937601] {
    display: none;
  }
}

.d-none-productlist {
  display: none;

  svg {
    vertical-align: middle;
    cursor: pointer;
  }
}

.product-wrapper-grid {
  &.list-view {
    .product-box {
      display: flex;
      align-items: center;

      .product-img {
        width: 20%;
      }

      .product-details {
        text-align: left;
      }
    }
  }
}

.slider-product {
  padding: 15px 0;
  border-top: 1px solid $light-color;
  border-bottom: 1px solid $light-color;
  margin-bottom: 15px;
}

.products-total {
  display: flex;
  align-items: center;
}

.grid-options {
  height: 33px;
  margin-left: 10px;

  ul {
    li {
      a {
        position: relative;

        .line-grid {
          position: absolute;
          width: 4px;
          height: 15px;
          top: 9px;
        }

        .line-grid-1 {
          left: 12px;
        }

        .line-grid-2 {
          left: 18px;
        }

        .line-grid-3 {
          left: 36px;
        }

        .line-grid-4 {
          left: 42px;
        }

        .line-grid-5 {
          left: 48px;
        }

        .line-grid-6 {
          left: 66px;
        }

        .line-grid-7 {
          left: 72px;
        }

        .line-grid-8 {
          left: 78px;
        }

        .line-grid-9 {
          left: 84px;
        }

        .line-grid-10 {
          left: 103px;
        }

        .line-grid-11 {
          left: 109px;
        }

        .line-grid-12 {
          left: 115px;
        }

        .line-grid-13 {
          left: 121px;
        }

        .line-grid-14 {
          left: 127px;
        }

        .line-grid-15 {
          left: 133px;
        }
      }
    }
  }
}

.square-product-setting {
  height: 36px;
  vertical-align: middle;

  &.active {
    a {
      color: $primary-color;
    }
  }

  a {
    color: $theme-body-font-color;
  }

  .icon-grid {
    padding: 7px;
    background-color: $white;
    display: flex;
    align-items: center;
    margin: 0 10px;

    svg {
      width: 20px;
      height: 20px;
    }
  }
}

.product-filter {
  .banner-product {
    margin-top: 15px;
  }

  h6 {
    margin-bottom: 15px;
  }

  .color-selector {
    line-height: 0.9;

    ul {
      display: flex;
      gap: 4px;

      li {
        display: inline-block;
        width: 20px;
        height: 20px;
        border: 1px solid #444;
        border-radius: 100%;
        cursor: pointer;

        &.white {
          background-color: $white;
        }

        &.gray {
          background-color: $theme-body-sub-title-color;
        }

        &.black {
          background-color: $black;
        }

        &.orange {
          background-color: #ffb17a;
        }

        &.green {
          background-color: #6fb866;
        }

        &.pink {
          background-color: pink;
        }

        &.yellow {
          background-color: #f2f896;
        }

        &.blue {
          background-color: #63b4f2;
        }

        &.red {
          background-color: #ff647f;
        }
      }
    }
  }

  &.new-products {
    margin-top: 20px;

    button {
      width: auto;
    }

    .owl-theme {
      .owl-nav {
        margin-top: 0;
        position: absolute;
        top: -46px;
        right: 0;

        button {
          &:focus {
            outline: $transparent-color;
          }

          span {
            font-size: 20px;

            &:focus {
              outline-color: $transparent-color;
            }
          }
        }
      }

      .owl-nav [class*='owl-'] {
        &:hover {
          background-color: $transparent-color;
          color: inherit;
        }
      }

      .owl-item {
        .item {
          .product-box {
            .product-details {
              padding: 25px 0;
            }

            + .product-box {
              margin-top: 15px;
            }
          }
        }
      }
    }
  }
}

.select2-drpdwn-product {
  .form-control {
    margin-bottom: 10px;
    height: 36px;
    border-radius: 6px !important;
    box-shadow: $card-box-shadow;
    border-color: $dark-body-background;

    &:focus {
      box-shadow: none;
    }
  }
}

.feature-products {
  form {
    .form-group {
      position: relative;

      input {
        margin-bottom: 15px;
        height: 50px;
        padding-left: 30px;
        box-shadow: $card-box-shadow;
        border-color: $dark-body-background;

        &.form-control {
          &:focus {
            box-shadow: none;
          }
        }
      }

      i {
        position: absolute;
        top: 18px;
        right: 30px;
        color: $dark-gray;
      }
    }
  }
}

.product-box {
  border-radius: 10px;
  overflow: hidden;

  .product-details {
    padding: 15px 25px;

    > a {
      color: $theme-body-font-color;
    }

    p {
      margin-bottom: 0;
      opacity: 0.8;
    }

    h4 {
      margin-bottom: 0;
      margin-top: 5px;
      font-size: 18px;
      font-weight: 400;
      font-family: $font-secular;
    }

    h6 {
      color: $theme-body-font-color;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    span {
      color: #ffa800;
    }

    .rating {
      i {
        font-size: 16px;
        letter-spacing: 3px;
        color: #ffa800;
      }
    }
  }

  .modal {
    .modal-header {
      .product-box {
        .product-details {
          padding: 25px 0;

          h6 {
            text-transform: capitalize;
          }

          .product-price {
            font-size: 22px;
            margin-bottom: 10px;
          }

          .product-view {
            padding: 20px 0;
            border-top: 1px dotted $semi-dark;
            border-bottom: 1px dotted $semi-dark;
          }

          .product-size {
            margin: 20px 0;

            ul {
              li {
                display: inline-block;
              }
            }
          }

          .product-qnty {
            fieldset {
              margin-bottom: 20px;

              .input-group {
                width: 35%;

                .btn {
                  padding: 5px 12px;
                }

                .btn-primary {
                  background-color: $semi-dark !important;
                  border: 1px solid $semi-dark !important;
                  border-radius: 0px !important;
                }
              }
            }
          }
        }
      }

      .btn-close {
        position: absolute;
        right: 18px;
        top: 18px;
      }
    }
  }

  .product-img {
    position: relative;

    .product-hover {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba($black, 0.3);
      opacity: 0;
      border-radius: 100%;
      transform: scale(0);
      transition: all 0.3s ease;

      ul {
        li {
          display: inline-block;
          box-shadow: 1px 1px 2px 1px rgba($black, 0.08);
          padding: 10px 12px;
          background-color: $white;
          font-size: 18px;
          border-radius: 10px;
          height: 45px;
          width: 45px;
          margin: 0 3px;
          cursor: pointer;
          text-align: center;

          i {
            color: $semi-dark;
            font-size: 18px;

            &:active {
              border: none;
            }
          }

          &:first-child {
            i {
              // margin-left: 2px;
            }
          }

          .btn {
            padding: 0;
            border: none;
          }

          &:hover {
            background-color: var(--theme-default);
            transition: all 0.3s ease;

            .btn,
            i {
              color: $white;
              border: none;
            }
          }
        }
      }
    }
  }

  &:hover {
    .product-hover {
      opacity: 1;
      border-radius: 0%;
      transform: scale(1);
      transition: all 0.3s ease;
    }
  }
}

.product-page-main {
  padding: 30px;

  .owl-item {
    .item {
      border: 1px solid $light-color;
      border-radius: 5px;
      background-color: #f8f8f8;
    }

    &.current {
      .item {
        border: 1px solid var(--theme-default);
      }
    }
  }

  .product-slider {
    margin-bottom: 20px;

    img {
      @media (min-width: 1400px) {
        height: 520px;
        object-fit: cover;
      }

      @media (min-width: 1500px) {
        height: 400px;
        object-fit: cover;
      }
    }
  }

  .product-color {
    margin-top: 10px;
  }
}

.product-page-details {
  h4 {
    color: $theme-body-font-color;
    text-transform: uppercase;
    font-size: 18px;
  }

  span {
    padding-left: 15px;
  }
}

.br-theme-fontawesome-stars {
  .br-widget {
    a,
    a.br-selected:after,
    a.br-active:after {
      color: #ffa800 !important;
      font: normal normal normal 14px/1 FontAwesome;
    }
  }
}

.product-price {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
  color: var(--theme-default);

  del {
    color: rgba($dark-color, 0.4);
    padding-left: 10px;
    font-size: 80%;
  }
}

.product-color {
  li {
    display: inline-block;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    margin: 0 2px;
  }
}

.product-page-main {
  p {
    font-size: 15px;
  }

  .nav-link {
    text-transform: uppercase;
    font-weight: 500;
  }
}

/**====== Product  Ends ======**/
.payment-opt {
  li {
    display: inline-block;

    img {
      height: 20px;
      margin: 15px 15px 0 0;
    }
  }
}

/**=====================
  3.14 Ecommerce CSS End
==========================**/
@media screen and (max-width: 1660px) and (min-width: 1200px) {
  .owl-carousel .owl-item img {
    max-width: 420px;
    margin: 0 auto;
  }
}
