/**=====================
     38. Landing CSS Start
==========================**/
$landing-color: $primary-color;
body {
  background-color: $white;
}
.landing-wrraper {
  .landing-home {
    scroll-behavior: smooth;
    overflow: hidden;
    position: relative;
    background-position: bottom;
    background-size: cover;
    background-image: url(../../images/landing/home-bg.jpg);
    background-color: #1b1c21;

    .sub-title {
      font-size: calc(18px + (30 - 18) * ((100vw - 300px) / (1920 - 300)));
    }

    .content {
      h1 {
        color: $white;
        line-height: 1.2;
        font-size: calc(25px + (60 - 25) * ((100vw - 300px) / (1920 - 300)));
        text-transform: uppercase;

        span {
          background:
            linear-gradient(90deg, #ffb905 20.35%, #6aebad 50%),
            linear-gradient(0deg, #ffffff, #ffffff);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      p {
        font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1920 - 300)));
        font-weight: 500;
        font-family: roboto;
        color: $white;
        opacity: 0.8;
        width: 64%;
        margin: 0 auto;

        @media (max-width: 1366px) {
          width: 90%;
        }

        @media (max-width: 767px) {
          width: 100%;
        }
      }
    }

    .btn-grp {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: center;

      @media (max-width: 767px) {
        gap: 12px;
      }

      @media (max-width: 575px) {
        flex-wrap: wrap;
        gap: 10px;
      }

      img {
        height: 30px;

        @media (max-width: 767px) {
          height: 22px;
        }

        @media (max-width: 575px) {
          height: 20px;
        }
      }
    }

    .content {
      margin-top: 200px;
      display: flex;
      justify-content: center;
      position: relative;
      z-index: 1;

      @media (max-width: 1366px) {
        margin-top: 170px;
      }

      @media (max-width: 1199px) {
        margin-top: 140px;
      }

      @media (max-width: 575px) {
        margin-top: 100px;
      }
    }

    .content-title {
      position: relative;
      display: inline-block;

      .arrow-decore {
        position: absolute;
        left: -203px;
        top: -25px;

        @media (max-width: 1660px) {
          left: -166px;
          width: 150px;
        }

        @media (max-width: 991px) {
          left: -125px;
          width: 110px;
          top: -14px;
        }

        @media (max-width: 575px) {
          left: -61px;
          width: 60px;
          top: -4px;
        }
      }
    }

    .sticky-header {
      header {
        .nav-padding {
          padding: 30px 50px;
        }
      }
    }
  }
  .section-py-space {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .section-pt-space {
    padding-top: 80px;
  }
  .section-pb-space {
    padding-bottom: 80px;
  }
  .title {
    margin-bottom: 55px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    h2 {
      font-size: 30px;
      font-weight: 400;
      padding-bottom: 20px;
      position: relative;
      z-index: 1;
      color: $textheader-dark;
      font-family: $font-secular;
      margin-bottom: 0;
      line-height: 0.9;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 25%;
      z-index: 1;
      width: 50%;
      border-radius: 8px;
      height: 5px;
      background-image: linear-gradient(to right, $textheader-dark, $white);
    }
    &:after {
      content: attr(data-name);
      font-size: 90px;
      opacity: 0.6;
      position: absolute;
      color: #eaeaea;
      font-family: $font-secular;
      top: 29px;
      left: 50%;
      line-height: 1;
      transform: translate(-50%, -50%);
      text-transform: capitalize;
      white-space: nowrap;
      font-weight: 900;
    }
  }
  .light-bg {
    background-color: rgba($sub-header, 0.4);
  }
  // landing header
  .custom-container {
    max-width: 1600px;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    margin-right: auto;
    margin-left: auto;
  }
  .navbar-nav {
    align-items: center;
    .nav-item {
      position: relative;
      .nav-link {
        color: $black;
        font-size: 15px;
        font-weight: 500;
        letter-spacing: 1px;
        padding: 12px;
        transition: all 0.3s ease;
        border: 1px solid;
        opacity: 0.7;
        &:hover,
        &.active {
          opacity: 1;
          text-shadow: 0 0 0 $primary-color;
          transition: all 0.3s ease;
          color: $primary-color;
        }
      }
    }
  }
  .btn-landing {
    border-radius: 20px;
    color: $textheader-dark;
    background-color: $sub-header;
    font-family: $font-secular;
    padding: 12px 30px;
    line-height: 1;
    font-weight: 400;
    display: block;
    width: fit-content;
  }
  .landing-header {
    filter: drop-shadow(0px 5px 17.5px rgba($success-color, 0.06));
    background-color: $dark-body-background;
    padding-top: 18px;
    padding-bottom: 18px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    ul.landing-menu {
      li.nav-item {
        .form-inline {
          .nav-link {
            font-size: 16px;
            padding: 10px 20px;
            border: none;
            font-family: $font-secular;
            color: $white;
            font-weight: 600;
            background-color: transparent;
            &:focus {
              outline: none;
            }
          }
        }
        &.menu-back {
          border-bottom: 1px solid $light-gray;
          padding: 22px 20px;
          text-align: right;
          text-transform: uppercase;
          font-weight: 600;
          font-size: 16px;
          display: none;
          cursor: pointer;
          margin-bottom: 15px;
          i {
            font-size: 16px;
            margin-left: 10px;
          }
        }
        a.nav-link {
          font-size: 16px;
          font-weight: 400;
          font-family: $font-secular;
          color: $white;
          padding: 10px 20px;
        }
        &:hover {
          a.nav-link {
            color: $primary-color;
          }
          .nav-link {
            color: $primary-color;
          }
        }
      }
    }
    .buy-block {
      display: flex;
      align-items: center;
      .toggle-menu {
        margin-left: 20px;
        display: none;
        cursor: pointer;
        i {
          font-size: 24px;
          color: $primary-color;
        }
      }
    }
  }
  //animat key freams //
  @keyframes move1 {
    0% {
      transform: rotate(0deg) translateX(10px) rotate(0deg);
    }
    100% {
      transform: rotate(360deg) translateX(10px) rotate(-360deg);
    }
  }
  @keyframes move2 {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-5px);
    }
  }
  @keyframes star {
    0% {
      transform: scale(1) rotate(0deg);
    }
    50% {
      transform: scale(0.5) rotate(45deg);
    }
    100% {
      transform: scale(1) rotate(0deg);
    }
  }

  // landing home css
  .content {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  .content-title {
    position: relative;
    display: inline-block;

    .arrow-decore {
      position: absolute;
      left: -203px;
      top: -25px;

      @media (max-width: 1660px) {
        left: -166px;
        width: 150px;
      }

      @media (max-width: 991px) {
        left: -125px;
        width: 110px;
        top: -14px;
      }

      @media (max-width: 575px) {
        left: -61px;
        width: 60px;
        top: -4px;
      }
    }
  }
  .btn-grp {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      gap: 12px;
    }

    @media (max-width: 575px) {
      flex-wrap: wrap;
      gap: 10px;
    }

    img {
      height: 30px;

      @media (max-width: 767px) {
        height: 22px;
      }

      @media (max-width: 575px) {
        height: 20px;
      }
    }
  }

  .swiper {
    width: 100%;
    background-color: transparent;
    .swiper-wrapper {
      .swiper-slide {
        border: 1px solid rgba($dark-body-background, 0.4);
        box-shadow: $card-box-shadow;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        border-radius: 8px;
        cursor: col-resize;
      }
    }
    .swiper-pagination {
      bottom: -29px !important;
      .swiper-pagination-bullet-active {
        background-color: $textheader-dark;
      }
    }
  }
  .pages-box {
    .img-wrraper {
      img {
        border: 1px solid rgba($black, 0.4);
        box-shadow: $card-box-shadow;
      }
    }
  }
  .owl-theme {
    .owl-dots {
      .owl-dot {
        span {
          background-color: rgba($textheader-dark, 0.4);
        }
        &.active {
          span {
            background: $textheader-dark;
          }
        }
      }
    }
  }
  .swiper-3d {
    .swiper-slide-shadow {
      background-color: transparent;
    }
  }

  // demo css
  .demo-section {
    .demo-block {
      margin-bottom: -30px;
    }
    .demo-box {
      .img-wrraper {
        position: relative;
        border: 1.5px solid $dark-body-background;
        box-shadow: $card-box-shadow;
        border-radius: 15px;
        overflow: hidden;
        transition: all 0.5s ease;
        img {
          transition: all 0.5s ease;
        }
        &:before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          height: 0;
          width: 100%;
          background-color: rgba($black, 0.2);
          z-index: 2;
          transition: all 0.5s ease;
        }
        .overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;
          opacity: 0;
          z-index: 3;
          visibility: hidden;
          transform: scale(0) rotate(-90deg);
          transition: all 0.5s ease;
          ul.demo-link {
            width: fit-content;
            margin: auto;
            z-index: 3;
            li {
              display: inline-block;
              &:nth-child(n + 2) {
                margin-left: 10px;
              }
              a {
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                width: 50px;
                height: 50px;
                box-shadow: 3px 3px 0px -1px #000000;
                border-radius: 100%;
                background-color: #f1f8f1;
                border: 1px solid #31322d;
                img {
                  width: auto;
                  height: 50%;
                }
              }
            }
          }
        }
      }
      .demo-detail {
        padding-top: 25px;
        .demo-title {
          text-align: center;
          h3 {
            font-size: 22px;
            font-family: $font-secular;
            text-transform: capitalize;
            font-weight: 400;
            margin-bottom: 0;
            color: $dark-body-background;
          }
        }
      }
      &:hover {
        .img-wrraper {
          img {
            transform: scale(1.01);
            &.img-fluid {
              filter: grayscale(100%);
            }
          }
          &:before {
            height: 100%;
            transition: all 0.5s ease;
          }
          .overlay {
            visibility: visible;
            transform: scale(1) rotate(0deg);
            opacity: 1;
          }
        }
        .demo-detail {
          .demo-title {
            h3 {
              color: $primary-color;
            }
          }
        }
      }
    }
  }
  // Frameworks
  .framework {
    .nav {
      margin-bottom: 50px;
      .nav-item {
        &:nth-child(n + 2) {
          margin-left: 10px;
        }
        &:nth-last-child(-n + 2) {
          margin-top: 14px;
        }
      }
      .nav-link {
        padding: 10px 28px;
        border-radius: 4px;
        border: 1.5px solid #31322d;
        box-shadow: $card-box-shadow;
        background-color: $sub-header;
        color: $textheader-dark;
        align-items: center;
        h5 {
          font-weight: 700;
        }
        p {
          color: $light-text;
        }
        img {
          height: 35px;
          margin-right: 10px;
        }
      }
    }
    ul.framworks-list {
      text-align: center;
      margin-bottom: -9px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      li {
        display: inline-block;
        margin: 0px 40px 30px;
        align-items: center;
        display: flex;
        flex-direction: column;
        div {
          background-color: #f1f8f1;
          height: 150px;
          width: 150px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: $card-box-shadow;
          border: 1px solid rgb($dark-body-background, 50%);
          transform: translateY(0px);
          transition: all 0.4s ease;
        }
        img {
          transition: all 0.3s ease;
          &.img-68 {
            width: 68px;
          }
        }
        h6 {
          margin-top: 10px;
          font-size: 18px;
          font-family: $font-secular;
          font-weight: 400;
          margin-bottom: unset;
          transition: all 0.3s ease;
        }
        &:hover {
          div {
            transform: translateY(-8px);
          }
          img {
            transform: scale(0.9);
          }
          h6 {
            color: $primary-color;
          }
        }
      }
    }
  }
  // unique-cards
  .unique-cards {
    .unique-block {
      margin-bottom: -30px;
    }
    .card {
      box-shadow: none;
      border: none;
      .img-wrraper {
        img {
          transition: all 0.5s ease;
          border-radius: 8px;
          box-shadow: $card-box-shadow;
        }
        &:hover {
          img {
            transform: rotate3d(1, 1, 1, -3deg);
            border-radius: 8px;
          }
        }
      }
    }
  }
  // Ecommerce page
  .ecommerce-pages {
    .pages-box {
      .page-detail {
        margin-top: 25px;
        text-align: center;
        h3 {
          font-size: 20px;
          text-transform: capitalize;
          font-weight: 400;
          font-family: $font-secular;
          margin-bottom: 0;
          color: $theme-font-color;
          transition: all 0.5s ease;
        }
      }
      &:hover {
        .page-detail {
          h3 {
            color: $primary-color;
          }
        }
      }
    }
  }
  // core feature
  .core-feature {
    .feature-block {
      margin-bottom: -24px;
      > div {
        margin-bottom: 25px;
      }
    }
    .feature-box {
      border: 1px solid $light-gray;
      padding: 45px 16px;
      text-align: center;
      border-radius: 15px;
      transition: all 0.5s ease;
      .icon-wrraper {
        width: 60px;
        height: 60px;
        border-radius: 5px;
        background-color: rgba($textheader-dark, 0.1);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        transition: all 0.5s ease;
        svg {
          width: 50%;
          height: auto;
          color: $textheader-dark;
          transition: all 0.5s ease;
        }
      }
      h6 {
        margin-bottom: 0;
        margin-top: 10px;
        font-weight: 400;
        font-family: $font-secular;
        text-transform: capitalize;
        transition: all 0.5s ease;
      }
      &:hover {
        background-color: rgba($textheader-dark, 0.06);
        h6 {
          color: $textheader-dark;
        }
        .icon-wrraper {
          background-color: $textheader-dark;
          svg {
            color: $white;
          }
        }
      }
    }
  }
  // footer //
  .landing-footer {
    background-color: $dark-body-background;
    .footer-contain {
      text-align: center;
      .rating-wrraper {
        margin-bottom: 10px;
        svg {
          width: auto;
          height: calc(95px + (120 - 95) * ((100vw - 320px) / (1920 - 320)));
        }
      }
      h2 {
        // font-size:28px;
        font-size: calc(18px + (28 - 18) * ((100vw - 320px) / (1920 - 320)));
        font-weight: 700;
        margin-bottom: 10px;
        line-height: 1.4;
        width: 50%;
        color: $white;
        margin-left: auto;
        margin-right: auto;
      }
      p {
        font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1920 - 320)));
        color: $light-text;
        font-weight: 600;
      }
      .star-rate {
        margin-bottom: 50px;
        li {
          display: inline-block;
          i {
            font-size: calc(20px + (35 - 20) * ((100vw - 320px) / (1920 - 320)));
          }
        }
      }
      .btn-footer {
        a {
          &:nth-child(n + 2) {
            margin-left: 10px;
          }
        }
      }
    }
  }
  .sub-footer {
    padding-top: 15px;
    background-color: $sub-header;
    padding-bottom: 15px;
    .footer-contain {
      display: flex;
      align-items: center;
      p {
        font-weight: 600;
        margin-left: auto;
        color: $dark-card-background;
      }
    }
  }
}
/**=====================
     38. Landing CSS Ends
==========================**/
