/**========================
     38. Landing CSS Start
===========================**/
@media (max-width: 1880px) {
  .landing-wrraper {
    // landing home //
  }
}
@media (max-width: 1660px) {
  .landing-wrraper {
    .custom-container {
      max-width: 1440px;
    }
  }
}
@media (max-width: 1470px) {
  .landing-wrraper {
    .custom-container {
      max-width: 100%;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
@media (max-width: 1367px) {
  .landing-wrraper {
    // landing home //

    // demo section
    .demo-section {
      .demo-box {
        .img-wrraper {
          .overlay {
            ul.demo-link {
              li {
                a {
                  width: 40px;
                  height: 40px;
                  img {
                    height: 45%;
                  }
                }
              }
            }
          }
        }
      }
    }
    // framework
    .framework {
      .nav {
        margin-bottom: 40px;
        .nav-link {
          // padding-bottom:15px;
          // img{
          // 	height:40px;
          // }
          h5 {
            font-size: 18px;
          }
          p {
            font-size: 12px;
          }
        }
      }
      ul.framworks-list {
        li {
          height: 175px;
          width: 175px;
          img {
            width: auto;
            height: 60px;
            &.img-68 {
              width: auto;
            }
          }
        }
      }
    }
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .landing-wrraper {
  }
}
@media (max-width: 1199px) {
  .landing-wrraper .landing-header ul.landing-menu li.nav-item .form-inline .nav-link {
    padding: 5px 20px;
  }
  .framework {
    .nav {
      margin-bottom: -10px;
      .nav-item {
        margin-bottom: 10px;
      }
    }
  }
  .landing-wrraper {
    .custom-container {
      padding-left: 40px;
      padding-right: 40px;
    }
    .title {
      margin-bottom: 35px;
      h2 {
        font-size: 28px;
      }
    }
    .section-py-space {
      padding-top: 60px;
      padding-bottom: 60px;
    }
    .section-pt-space {
      padding-top: 60px;
    }
    .section-pb-space {
      padding-bottom: 60px;
    }
    // landing header //
    .landing-header {
      ul.landing-menu {
        li.nav-item {
          a.nav-link {
            padding: 5px 15px;
          }
        }
      }
    }
    // landing home //

    //demo
    .demo-section {
      .demo-box {
        .img-wrraper {
          .overlay {
            ul.demo-link {
              li {
                a {
                  width: 35px;
                  height: 35px;
                }
                &:nth-child(n + 2) {
                  margin-left: 5px;
                }
              }
            }
          }
        }
      }
    }
    // footer //
    .landing-footer {
      .footer-contain {
        h2 {
          width: 65%;
          margin-bottom: 5px;
        }
        p {
          margin-bottom: 8px;
        }
        .star-rate {
          margin-bottom: 40px;
        }
      }
    }
  }
}
@media (max-width: 991px) {
  .landing-wrraper {
  }
  .landing-wrraper {
    .btn-landing {
      padding: 10px 25px;
    }
    //landing header//
    .landing-header {
      padding-top: 15px;
      padding-bottom: 15px;
      ul.landing-menu {
        position: fixed;
        top: 0;
        right: -320px;
        width: 300px;
        height: 100vh;
        background-color: $white;
        display: block;
        transition: all 0.5s ease;
        &.open {
          right: 0;
        }
        li.nav-item {
          display: block;
          background-color: $white;
          text-align: left;
          &.menu-back {
            display: block;
          }
          .form-inline {
            .nav-link {
              padding: 5px 15px;
            }
          }
        }
      }
      .buy-block {
        .toggle-menu {
          display: block;
        }
      }
    }
    //landing home //

    // framework //
    .framework {
      .nav {
        margin-bottom: 30px;
      }
      ul.framworks-list {
        li {
          width: 150px;
          height: 150px;
          div {
            width: 100px;
            height: 100px;
          }
          img {
            height: 50px;
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  .landing-wrraper {
    .custom-container {
      padding-left: 25px;
      padding-right: 25px;
    }
    .title {
      margin-bottom: 25px;
      h2 {
        font-size: 24px;
      }
    }
    .section-py-space {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .section-pt-space {
      padding-top: 50px;
    }
    .section-pb-space {
      padding-bottom: 50px;
    }
    // landing header //
    .landing-header {
      padding-top: 10px;
      padding-bottom: 10px;
      ul.landing-menu {
        li.nav-item {
          &.menu-back {
            padding: 18px 15px;
          }
        }
      }
    }
    // landing home //

    // demo //
    .demo-section {
      .demo-block {
        > div {
          margin-bottom: 20px;
          padding-left: 8px;
          padding-right: 8px;
        }
      }
    }
    // framework //
    .framework {
      .nav {
        .nav-link {
          img {
            height: 35px;
          }
          h5 {
            font-size: 16px;
          }
        }
      }
      ul.framworks-list {
        li {
          width: 145px;
          height: 145px;
          img {
            height: 40px;
          }
        }
      }
    }
    // footer
    .landing-footer {
      .footer-contain {
        h2 {
          width: auto;
          padding-left: 50px;
          padding-right: 50px;
        }
        .star-rate {
          margin-bottom: 30px;
        }
        .btn-footer {
          a {
            padding: 5px 15px;
            font-size: 16px;
          }
        }
      }
    }
  }
}
@media screen and (max-width: 1365px) {
  .landing-wrraper {
  }
}
@media (max-width: 575px) {
  .landing-wrraper {
    .custom-container {
      padding-left: 20px;
      padding-right: 20px;
    }
    .title {
      h2 {
        font-size: 22px;
      }
    }
    .section-py-space {
      padding-top: 40px;
      padding-bottom: 40px;
    }
    .section-pt-space {
      padding-top: 40px;
    }
    .section-pb-space {
      padding-bottom: 40px;
    }
    // landign home //

    // demo //
    .demo-section {
      .demo-box {
        .img-wrraper {
          img {
            width: 100%;
          }
        }
      }
    }
    // framework
    .framework {
      .nav {
        display: flex;
        .nav-link {
          img {
          }
        }
      }
    }
    // core feature //
    .core-feature {
      .feature-box {
        padding: 30px 10px;
        .icon-wrraper {
          width: 50px;
          height: 50px;
        }
      }
      .feature-block {
        margin-bottom: -15px;
        > div {
          padding-left: 5px;
          padding-right: 5px;
          margin-bottom: 15px;
        }
      }
    }
    .unique-cards {
      .unique-block {
        margin-bottom: -15px;
      }
    }
    // footer //
    .landing-footer {
      .footer-contain {
        text-align: center;
        h2 {
          padding-left: unset;
          padding-right: unset;
        }
      }
    }
    .sub-footer {
      .footer-contain {
        justify-content: center;
        text-align: center;
        p {
          margin-right: auto;
          margin-top: 10px;
        }
      }
    }
  }
}
@media (max-width: 480px) {
  .landing-wrraper {
    .framework {
      .nav {
        .nav-link {
          padding: 10px 18px;
        }
      }
    }
    // landing home //
    .btn-footer {
      margin-bottom: -10px;
      .btn {
        margin-bottom: 10px;
      }
    }

    // demo section
    .demo-section {
      .demo-block {
        margin: 0px 15px;
      }
      .demo-box {
        .demo-detail {
          .demo-title {
            h3 {
              font-size: 18px;
            }
          }
        }
      }
    }
    // framework
    .framework {
      .nav {
        .nav-item {
          width: auto;
        }
        .nav-link {
          padding-bottom: 10px;
          display: block !important;
          img {
            height: 25px;
            margin-right: unset;
          }
          .text-start {
            display: none;
          }
          &.active,
          &.show {
            border-bottom: 2px solid $primary-color;
          }
        }
      }
      ul.framworks-list {
        li {
          margin: 5px;
          img {
            height: 30px;
          }
        }
      }
    }
    // core feature
    .core-feature {
      .feature-box {
        .icon-wrraper {
          width: 45px;
          height: 45px;
        }
      }
    }
    // ecommerce-pages
    .ecommerce-pages {
      .pages-box {
        .page-detail {
          margin-top: 15px;
          h3 {
            font-size: 18px;
          }
        }
      }
    }
    // footer
    .landing-footer {
      .footer-contain {
        .star-rate {
          margin-bottom: 20px;
        }
        .btn-footer {
          a {
            font-size: 14px;
            padding: 3px 12px;
          }
        }
      }
    }
  }
}
/**=======================
     38. Landing CSS end
==========================**/
