/**=====================
    3.31 Order-history CSS start
==========================**/
.prooduct-details-box {
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 16px;
    cursor: pointer;
  }

  .flex-grow-1 {
    .price {
      border: none;
      padding: 0px;
    }
  }

  .btn {
    line-height: 13px;
  }

  .d-flex {
    border: 1px solid $light-background;
    border-radius: 10px;
    padding: 15px 10px;
    width: 100%;
    position: relative;
    gap: 10px;
  }

  .rating {
    color: #ffaf45;
    letter-spacing: 3px;
  }

  .product-name {
    a {
      color: rgba($black, 0.9);
    }

    h6 {
      margin-bottom: 0;
      font-weight: 700;
    }
  }

  .btn {
    position: absolute;
    right: 15px;
    bottom: 15px;
  }
}

.order-history {
  .input-group {
    text-align: right;
    max-width: 300px;
  }

  table {
    border: 1px solid rgba($dark-body-background, 0.2);

    th {
      min-width: 170px;
    }

    th,
    td {
      text-align: center;
    }

    thead {
      tr {
        th {
          vertical-align: middle;
          border-top: none;
          background-color: transparent;
          border: 1px solid $dark-body-background;
          padding: 15px;
          font-size: 16px;
          color: $theme-body-font-color;
          font-weight: 600;
        }
      }
    }

    .qty-box {
      width: 120px;
      margin: 0 auto;
      border-radius: 5px;
      overflow: hidden;

      input {
        padding: 0;
        border: none;
        background-color: transparent;

        &:focus {
          box-shadow: none;
          border: none;
        }
      }

      .input-group {
        justify-content: space-between;
        align-items: center;
        background-color: transparent;
        border-radius: 5px;
        border: 1px solid $light-gray;
        overflow: hidden;
      }

      .btn {
        background-color: transparent;
        padding: 8px 13px;
        font-size: 10px;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: rgba($dark-body-background, 0.01);
        }

        &:nth-child(even) {
          td {
            &:first-child {
              background-color: $auth-bg-color;
            }
          }
        }

        &:nth-child(odd) {
          background-color: rgba($dark-body-background, 0.06);

          td {
            &:first-child {
              background-color: $body-color;
            }
          }
        }

        td {
          vertical-align: middle;
          color: $theme-body-font-color;
          font-weight: 600;

          .product-name {
            a {
              font-size: 15px;
              color: $theme-body-font-color;
            }

            .order-process {
              font-size: 13px;
              padding-left: 15px;

              .order-process-circle {
                position: relative;

                &:before {
                  position: absolute;
                  content: '';
                  width: 4px;
                  height: 4px;
                  border-radius: 100%;
                  background-color: $dark-gray;
                  left: -15px;
                  top: -7px;
                }

                &.shipped-order {
                  &:before {
                    background-color: $success-color;
                  }
                }

                &.cancel-order {
                  &:before {
                    background-color: $danger-color;
                  }
                }
              }
            }
          }

          &.total-amount {
            color: $theme-body-font-color;
          }
        }
      }
    }
  }

  .product-name {
    h6 {
      color: $theme-body-font-color;
      margin-bottom: unset;
      font-size: 14px;
    }
  }
}

@media only screen and (max-width: 1199px) {
  .order-history {
    table {
      width: 900px;
      overflow: auto;
    }
  }
}

/**=====================
    3.31 Order-history CSS End
==========================**/
