<div class="d-flex profile-media">
  <img src="assets/images/profile.png" alt="" />
  <div class="flex-grow-1">
    <span>Helen Walter</span>
    <p class="mb-0 font-roboto">Admin <i class="middle fa fa-angle-down"></i></p>
  </div>
</div>
<ul class="profile-dropdown onhover-show-div">
  <li>
    <a [routerLink]="['/users/users-profile']"><i data-feather="user"></i><span>Account </span></a>
  </li>
  <li>
    <a [routerLink]="['/email/email-app']"><i data-feather="mail"></i><span>Inbox</span></a>
  </li>
  <li>
    <a [routerLink]="['/tasks']"><i data-feather="file-text"></i><span>Taskboard</span></a>
  </li>
  <li>
    <a [routerLink]="['/users/users-edit']"><i data-feather="settings"></i><span>Settings</span></a>
  </li>
  <li>
    <a (click)="logOut()"><i data-feather="log-in"> </i><span>Log in</span></a>
  </li>
</ul>
