<div class="container-fluid">
  <div class="row">
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-barchart />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-linegraph />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-radargraph />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-linechart />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-donutchart />
    </div>
    <div class="col-xl-6 col-md-12 box-col-6">
      <app-chartjs-polarchart />
    </div>
  </div>
</div>
