<footer
  class="footer"
  [class.footer-light]="footerLight"
  [class.footer-dark]="footerDark"
  [class.footer-fix]="footerFix"
>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 footer-copyright footer-content">
        <p class="mb-0">Copyright {{ year }} © Boho theme by pixelstrap</p>
        <p class="mb-0">
          Hand crafted & made with
          <svg class="footer-icon">
            <use href="assets/svg/icon-sprite.svg#Heart"></use>
          </svg>
        </p>
      </div>
    </div>
  </div>
</footer>
