<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">Full Screen Modal</h1>
  <button class="btn-close" type="button" (click)="close()"></button>
</div>
<div class="modal-body dark-modal">
  <div class="large-modal-header">
    <app-feather-icons [icon]="'chevrons-right'" />
    <h4 class="f-w-700">Web Design</h4>
  </div>
  <p class="modal-padding-space">
    We build specialised websites for companies, list them on digital directories, and set up a
    sales funnel to boost ROI.
  </p>
  @for (allData of fullscreenModalData; track allData) {
    <h4 class="f-w-700">{{ allData.title }}</h4>
    @for (data of allData.data; track data) {
      <div class="d-flex mt-{{ data.margin }}">
        <div class="flex-shrink-0">
          <app-feather-icons [icon]="'arrow-right-circle'" [class]="'svg-modal'" />
        </div>
        <div class="flex-grow-1 ms-2">
          <p>{{ data.desc }}</p>
        </div>
      </div>
    }
  }
</div>
<div class="modal-footer">
  <button class="btn btn-secondary" type="button" (click)="close()">Close</button>
  <button class="btn btn-primary" type="button">Save</button>
</div>
