<div class="tab-content" id="v-pills-tabContent" [style.display]="editContact ? 'none' : ''">
  <div
    class="tab-pane contact-tab-0 tab-content-child fade show active"
    id="v-pills-user"
    role="tabpanel"
    aria-labelledby="v-pills-user-tab"
  >
    <div class="profile-mail">
      <div class="d-flex">
        <img
          class="img-100 img-fluid m-r-20 rounded-circle update_img_0"
          src="{{ selectedData.img }}"
          alt=""
        />
        <input class="updateimg" type="file" name="img" />
        <div class="flex-grow-1 mt-0">
          <h4>
            <span class="first_name_0">{{ selectedData.firstName }} </span>
            <span class="last_name_0">{{ selectedData.lastName }}</span>
          </h4>
          <p class="email_add_0">{{ selectedData.email }}</p>
          <ul>
            <li><a (click)="editContact = true" style="margin-right: 4px">Edit</a></li>
            <li><a (click)="deleteContact()" style="margin-right: 4px">Delete</a></li>
            <li><a (click)="openHistory()" style="margin-right: 4px">History</a></li>
            <li>
              <a (click)="PrintModal()?.openModal(selectedData)" style="margin-right: 4px">Print</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="email-general">
        <h3 class="mb-3">General</h3>
        <ul>
          <li>
            Name <span class="font-primary first_name_0">{{ selectedData.firstName }}</span>
          </li>
          <li>
            Gender <span class="font-primary">{{ selectedData.gender }}</span>
          </li>
          <li>
            Birthday<span class="font-primary">
              <span class="birth_day_0">{{ selectedData.dob }}</span></span
            >
          </li>
          <li>
            Personality<span class="font-primary personality_0">{{
              selectedData.personality
            }}</span>
          </li>
          <li>
            City<span class="font-primary city_0">{{ selectedData.city }}</span>
          </li>
          <li>
            Mobile No<span class="font-primary mobile_num_0">{{ selectedData.mobile }}</span>
          </li>
          <li>
            Email Address <span class="font-primary email_add_0">{{ selectedData.email }}</span>
          </li>
          <li>
            Website<span class="font-primary url_add_0">{{ selectedData.website }}</span>
          </li>
          <li>
            Interest<span class="font-primary interest_0">{{ selectedData.interest }}</span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="contact-editform ps-0" [style.display]="!editContact ? 'none' : ''">
  <form>
    <div class="row g-2">
      <app-general [selectedData]="selectedData" />
    </div>
    <div class="row g-2 more-data" [style.display]="!editMoreDetails ? 'none' : ''">
      <app-personal-details />
    </div>
    <div class="mb-3 col-md-12" [style.display]="!editMoreDetails ? 'none' : ''">
      <app-address-details />
    </div>
    <a
      class="ps-0 edit-information"
      id="edit-information"
      (click)="editMoreDetails = true"
      (click)="editMoreDetail()"
      >Edit more information</a
    >
    <button class="btn btn-secondary update-contact" type="button" style="margin-right: 4px">
      Save
    </button>
    <button
      class="btn btn-primary"
      type="button"
      data-bs-dismiss="modal"
      id="cancle"
      (click)="editContact = false"
      (click)="editMoreDetails = false"
      (click)="editMoreDetail1()"
    >
      Cancel
    </button>
  </form>
</div>

<div id="right-history" [ngClass]="open === true ? 'show' : ''">
  <div class="modal-header p-l-20 p-r-20">
    <h3 class="modal-title w-100">
      Contact History<span class="pull-right"
        ><a class="closehistory" (click)="openHistory()" style="cursor: pointer"
          ><i class="icofont icofont-close"></i></a
      ></span>
    </h3>
  </div>
  <div class="history-details">
    <div class="text-center">
      <i class="icofont icofont-ui-edit"></i>
      <p>Contact has not been modified yet.</p>
    </div>
    <div class="d-flex">
      <i class="icofont icofont-star me-3"></i>
      <div class="flex-grow-1 mt-0">
        <h3 class="mt-0">Contact Created</h3>
        <p class="mb-0">Contact is created via mail</p>
        <span class="f-12">Sep 10, 2019 4:00</span>
      </div>
    </div>
  </div>
</div>
<app-print #printModal />
